// Neutural
$neutural-50: #fafafa;
$neutural-100: #f5f5f5;
$neutural-200: #e5e5e5;
$neutural-300: #d4d4d4;
$neutural-400: #a3a3a3;
$neutural-500: #737373;
$neutural-600: #525252;
$neutural-700: #404040;
$neutural-800: #262626;
$neutural-900: #171717;
